.Row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 15px;

}
.placeholderCom{
    background: #333;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    color: grey;

}
